/* src/components/Layouts.css */
.game-layout-1vAll, .game-layout-split {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.top-section, .bottom-section,
.top-players, .bottom-players {
  flex: 1;
  display: flex;
  min-height: 0; 
}
.top-section {
  flex-direction: column;
}