/* src/components/GameBoard.css */
.game-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}